<section>
  <h1>About Me</h1>
  <p>
    I am a middle-aged white male living in North Texas, USA.  I am a carreer linux Systems Engineer and Software Developer with a Bachelors in Computer Science Engineering from the University of Texas at Arlington and a Masters of Software Engineering from DePaul University.  I love writing software and lately have been spending a lot of enjoyable time building web apps using Ruby on Rails.  In the past I have worked with PHP and before that Java and C/C++.
  </p>
</section>
